body {
    background-color: chocolate;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    font-family: "Rubik Bubbles";
    font-size: 180px;
    color: white;
    opacity: 0.4;
}

.letter:hover {
    opacity: 1;
    cursor:pointer;
}

.active {
    opacity: 1;
}