body {
    background-color: greenyellow;
}

h1 {
    color: burlywood;
    background-color: white;
    text-align: center;

    /* padding */
    padding-top: 30px;
    padding-bottom: 30px;

    padding: 30px 0 30px 0;
    padding: 30px 0;

    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;

    border: 5px solid burlywood;

}

p {
    text-align: center; 
    font-size: 20px;
}

.garden {
    border: 5px solid grey;
    margin:0 150px;
    padding: 50px;

    /* display: flex; */
}

.garden:hover {
    background-color: blue;
    cursor: pointer;
}

a {
    margin-top: 50px;
    text-align: center;
    display: block;
}

a:link {
    color: pink; /* Default link color for unvisited links */
}

a:visited {
    color: orange; /* Color for visited links */
}

a:hover {
    background-color: white; /* Background color when hovering over the link */
}

a:active {
    background-color: blue; /* Background color when the link is active (clicked) */
}

.tomato {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: tomato;
    margin: 25px;

    /* display: none; /* how to hide a tomato %/ */
    /* opacity: 0; */
    /* visibility: hidden; */
}

.tomatoOrange {
    background-color: orange;
}

.cherryTomato { 
    width: 25px;
    height: 25px;
}