body {
    background-color:chocolate;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width:  100vw;
    font-family: Agbalumo;
}


.letter {
    font-size: 180px;
    color: white;
    opacity: 0.2;
}

.letter:hover {
    opacity: 1;
    cursor: pointer;
}

.active {
    opacity: 1;
}